name: Build

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  swiftformat:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v6

      - name: Show Swift version
        run: swift --version

      - name: Run swift-format
        run: |
          swift format lint --parallel --recursive --strict $(find . -maxdepth 1 -type d -name 'FirstTask*' ! -name '*.xcodeproj')

  swiftlint:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v6

      - name: GitHub Action for SwiftLint with --strict
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict

  build:
    needs: [swiftformat, swiftlint]
    runs-on: macos-26
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Show Xcode version
        id: xcode_version
        run: |
          xcodebuild -version
          echo "VERSION=$(xcodebuild -version | head -n 1 | sed 's/ /-/g')" >> $GITHUB_OUTPUT

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata-${{ steps.xcode_version.outputs.VERSION }}-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ steps.xcode_version.outputs.VERSION }}-${{ github.workflow }}-

      # Avoid the error: “LicensePlistBuildTool” must be enabled before it can be used
      - name: Skip package plugin fingerprint validation
        run: |
          defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES

      - name: Setup GoogleService-Info.plist
        run: |
          cp FirstTask/Configs/GoogleService-Info-Release.plist.sample FirstTask/Configs/GoogleService-Info-Release.plist

      - name: Cache Gems
        uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Cache SwiftPM packages
        uses: actions/cache@v5
        with:
          path: FirstTaskDependencies/.build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Install Bundled Gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Build
        run: bundle exec fastlane build_for_simulator
        env:
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 120
